{% extends 'base.html.twig' %}

{% block body %}
    <div class="services-edit container">
        <div class="row">
            <div class="button-container left col-4">
                <a class="grey-button" href="{{ path('nursery_show', { 'idNursery': get_nursery_id()}) }}">{{'total.back'|trans}}</a>
            </div>
            <div class="button-container col-8">
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <input class="grey-button" type="submit" value="{{"total.delete"|trans}}">
                    {{ form_end(delete_form) }}
                {% endif %}
                <input class="orange-button" onclick="$('#main-form').submit();" type="submit" value="{{'total.save'|trans}}"/>
            </div>
        </div>
        {{ form_start(form, {'attr': {'id': 'main-form'} }) }}
        <div class="tabs">
            <ul>
                <li><a href="#tab-main-info">{{'total.main_info'|trans}}</a></li>                
            </ul>
            <div class="services-info row" id="tab-main-info">                
                <div class="main-info col-6">
                    {{ form_row(form.klname, {'attr': {'class': 'parent-width'} })}}
                    {{ form_row(form.phone, {'attr': {'class': 'parent-width'} })}}
                    {{ form_row(form.email, {'attr': {'class': 'parent-width'} })}}
                    {{ form_row(form.question, {'attr': {'class': 'parent-width'} })}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
