{% extends 'base.html.twig' %}

{% block body %}
    <h1>News list</h1>

    <table>
 
        <tbody>
        {% for news in news %}
            <tr>
                <td>{% if news.ndate %}{{ news.ndate|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ path('news_show', { 'idNews': news.idNews }) }}">
                {% if app.request.getLocale !='en' %}
                {{ news.titleEn }}
                {% else %}
               {{news.title}}
                {%endif%}
                </a></td>
                <td><img src="{{photo_path}}{{news.photo}}" 
                         style="width:304px;height:228px;"></td>
                {% if app.request.getLocale!='en' %}
                <td>{{ news.newsdescEn }}</td>
                {% else %}
                <td>{{news.newsdesc}}</td>
                {%endif%}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'idNews': news.idNews }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'idNews': news.idNews }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_new') }}">Create a new news</a>
        </li>
    </ul>
{% endblock %}
