{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>
        <div class='news-page'>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class='button-container'>
                    <a class="submit-button" href="{{ path('news_edit', { 'idNews': news.idNews }) }}">{{"total.edit"|trans}}</a>
                    {{ form_start(delete_form) }}
                    <input class="submit-button" type="submit" value="{{'total.delete'|trans}}">
                    {{ form_end(delete_form) }}
                </div>
            {% endif %}
            <div class="image">
                <a class='colorbox group1' href='{{photo_path}}{{news.photo}}'><img src="{{photo_path}}{{news.photo}}"/></a>
            </div>
            <div class="text">
                <div class="title">
                    <a class='decorated-href' href='{{path('news_show', {'idNews': news.idNews})}}'>{{ get_translated(news, 'title') }}</a>
                </div>
                <div class="description">
                    {{ get_translated(news, 'newsdesc') }}
                </div>
                <div class='photos'>
                    {% for photo in photos %}
                        <div class='photo-item'><a class='colorbox group1' href='{{photo_path}}{{photo.photo}}'><img src="{{photo_path}}{{photo.photo}}"/></a></div>
                    {% endfor %}
                </div>
                <div class='videos'>
                    {% for video in videos %}
                        <div class='video-item'>{{video.video|raw}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        $('a.colorbox').colorbox({rel: 'group1'});
    </script>
{% endblock %}
