{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="vaccination-container">
            <div class="button-container"><a  class="orange-button colorbox-ajax-form" href="{{ path('vaccinations_new') }}">{{'total.create'|trans}}</a></div>
            {% for vaccination in vaccinations %}
                <div class="vaccination-item">     
                    <div class="left-col">
                        <div class="vaccination-info">
                            {{ vaccination.vaccinations }}      
                        </div>
                        <div class="vaccination-info">
                            {{ vaccination.vaccinationsEng }}
                        </div>                                        
                    </div>
                    <div class="right-col">
                        <a class="colorbox-ajax-form orange-button" href="{{ path('vaccinations_edit', { 'idVaccinations': vaccination.idVaccinations }) }}">
                            {{"total.edit"|trans}}
                        </a>
                        <div>
                            <a class="orange-button" href="{{path('vaccinations_delete_href', {'idVaccinations': vaccination.idVaccinations}) }}">{{"total.delete"|trans}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>

{% endblock %}
