{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dog edit</h1>

    {{ form_start(form) }}
    {{ form_row(form.bdate)}}
    {{ form_row(form.name)}}
    {{ form_row(form.nameEn)}}
    {{ form_row(form.description)}}
    {{ form_row(form.descriptionEn)}}
    {{ form_row(form.sex)}}
    {{ form_row(form.photoFile)}}
    {{ form_row(form.quality)}}
    {{ form_row(form.litters)}}
    {{ form_row(form.photoFile)}}
    {# store the prototype on the data-prototype attribute #}
    <ul id="photos-fields-list"
        data-prototype="{{ form_widget(form.dogsPhotos.vars.prototype)|e }}">
        {% for dogsPhoto in form.dogsPhotos %}
            <li>
                {{ form_errors(dogsPhoto) }}
                {{ form_widget(dogsPhoto) }}
            </li>
        {% endfor %}
        <a href="#" id="add-another-photo">Add another photo</a>
    </ul>

    <ul class="form-collection-container" data-count="{{ form.videos|length }}" id="videos-fields-list"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}">
        {% for video in form.videos %}
            <li>
                {{ form_errors(video) }}
                {{ form_widget(video) }}
            </li>
        {% endfor %}
        <a href="#" class="add-new-element"  >Add another video</a>
    </ul>
    <ul class="form-collection-container" data-count="{{ form.dogTitles|length }}" id="titles-fields-list"
        data-prototype="{{ form_widget(form.dogTitles.vars.prototype)|e }}">
        {% for dogTitle in form.dogTitles %}
            <li>
                {{ form_errors(dogTitle) }}
                {{ form_widget(dogTitle) }}
            </li>
        {% endfor %}
        <a href="#" class="add-new-element" >Add title</a>
    </ul>
    <ul class="form-collection-container" data-count="{{ form.dogVaccinations|length }}" id="vaccinations-fields-list"
        data-prototype="{{ form_widget(form.dogVaccinations.vars.prototype)|e }}">
        {% for dogVaccination in form.dogVaccinations %}
            <li>
                {{ form_errors(dogVaccination) }}
                {{ form_widget(dogVaccination) }}
            </li>
        {% endfor %}
        <a href="#" class="add-new-element" >Add vaccination</a>
    </ul>
    <input type="submit" value="{{'total.save'|trans}}"/>

    {{ form_end(form) }}

    {% if delete_form is defined %}
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endif %}
    <ul>
        <li>
            <a href="{{ path('homepage') }}">{{'total.back'|trans}}</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script type="text/javascript">
        $(document).ready(function () {
            var photoCount = '{{ form.dogsPhotos|length }}';
            $('#add-another-photo').on('click', function (e) {
                e.preventDefault();

                var photosList = $('#photos-fields-list');

                // grab the prototype template
                var newWidget = photosList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, photoCount);
                photoCount++;

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                newLi.appendTo(photosList);
            });

            $('.form-collection-container .add-new-element').on('click', function (e) {
                e.preventDefault();

                var list = $(this).parents('.form-collection-container');

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                var count = list.data('count');
                newWidget = newWidget.replace(/__name__/g, count);
                count++;
                list.data('count', count);

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                newLi.appendTo(list);
                addDeleteLink(newLi);
            });

            // add a delete link to all of the existing tag form li elements
            $('.form-collection-container').find('li').each(function () {
                addDeleteLink($(this));
            });

            function addDeleteLink($formLi) {
                var $removeLi = $('<a href="#">{{"total.delete"|trans}}</a>');
                $formLi.append($removeLi);

                $removeLi.on('click', function (e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $formLi.remove();
                });
            }
        });
    </script>
{% endblock %}