{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>
        <h3>{{"dogs.ourdogs"|trans}}</h3>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class='button-container'>
                    <a class="orange-button" href="{{ path('dogs_new') }}">{{ "total.create"|trans }}</a>
                </div>
            {% endif %}
        <div class="dogs-list">

            <div class="dogs-list-item">
                {% for dog in dogs %}
                    <div class="dogs-photo-container">
                        <img class='dogs-photo' src="{{photo_path}}{{dog.photo}}" >
                    </div>
                    <div class="dogs-about-container">
                        <div class='sex-img'>
                            <img src='{{ asset('bundles/app/img/sex/'~dog.sex~'.png') }}'>
                        </div>
                        <div class='dog-name'>
                            {{ get_translated(dog, 'name') }}
                        </div>
                        <div>
                            {{"dogs.about.dogage"|trans}}
                            {% set age = calculate_age(dog.bdate) %}
                            {% transchoice age.y with {'%month%': age.m, '%year%': age.y} %}
                            dogs.about.age
                            {% endtranschoice %}
                        </div>
                        <div>
                            {{"dogs.about.quality"|trans}}
                            {{("dogs.about.quality_"~dog.quality)|trans}}
                        </div>
                        <div>
                            {{"dogs.about.state"|trans}}
                            {% if dog.state %}
                                {{"dogs.about.forsale"|trans}}
                            {% else %}
                                {{"dogs.about.soldout"|trans}}    
                            {%endif%}
                        </div>
                        <div class='dogs-description'>
                            {{ get_translated(dog, 'description') }}
                        </div>

                        
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="orange-button" href="{{ path('dogs_edit', { 'id': dog.idDogs }) }}">{{ "total.edit"|trans }}</a>
                            {% endif %}
                            <a class="orange-button" href="{{ path('dogs_show', { 'id': dog.idDogs }) }}">{{ "total.show"|trans }}</a>   
                        

                    </div>
                {% endfor %}
            </div>
        </div>    
    </div>
{% endblock %}
