{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{path('nursery_index')}}">nursery are there</a>
    <a href="{{path('titles_index')}}">titles are there</a>
    <a href="{{path('litters_index')}}">litters are there</a>
    <a href="{{path('dogtitles_index')}}">dogtitles are there</a>
    <h1>Dogs list</h1>

    <table>
        <thead>
            <tr>
                <th>{% trans %}dogs.list.name{% endtrans %}</th>
                <th>Photo</th>
                <th>Quality</th>
                <th>Sex</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dog in dogs %}
            <tr>
                {% if app.request.getLocale!='en' %}
                <td>{{ dog.name }}</td>
                {% else %}
                <td>{{dog.nameEn}}</td>
                {%endif%}
                <td> <img src="{{photo_path}}{{dog.photo}}" alt="dog" style="width:304px;height:228px;"> </td>
                {% if app.request.getLocale!='en' %}
                <td>{{ dog.quality}}</td>
                {% else %}
                <td>{{dog.qualityEn}}</td>
                {%endif%}
                {% if app.request.getLocale!='en' %}
                <td>{{ dog.sex}}</td>
                {% else %}
                <td>{{dog.sexEn}}</td>
                {%endif%}
                <td>{{dog.state}}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dogs_show', { 'id': dog.idDogs }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dogs_edit', { 'id': dog.idDogs }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dogs_new') }}">Create a new dog</a>
        </li>
    </ul>
{% endblock %}
