{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dog</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                {% if app.request.getLocale!='en' %}
                <td>{{ dog.name }}</td>
                {% else %}
                <td>{{dog.nameEn}}</td>
                {%endif%}
            </tr>
            <tr>
                <th>Bdate</th>
                <td>{% if dog.bdate %}{{ dog.bdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                {% if app.request.getLocale!='en' %}
                <td>{{ dog.description }}</td>
                {% else %}
                <td>{{dog.descriptionEn}}</td>
                {%endif%}
            </tr>
            <tr>
                <th>Photo</th>
                <td> <img src="{{photo_path}}{{dog.photo}}" alt="dog" style="width:304px;height:228px;"> </td>
            </tr>
            <tr>
                <th>Quality</th>
                <td>{{ dog.quality}}</td>
            </tr>
            <tr>
                <th>Sex</th>
                {% if dog.sex=='1' %}
                <td>{{ 'total.female'|trans}}</td>
                {% else %}
                <td>{{ 'total.male'|trans}}</td>
                {%endif%}
            </tr>
            {% if dog.state=='0' %}
                 <tr>
                 <th>State</th>
                <td>{{ 'total.forsale'|trans}}</td>
                </tr>
                {%endif%}
            
        </tbody>
    </table>
{% for photo in dog.dogsPhotos %}
<img src="{{photo_path}}{{photo.photo}}" style="width:304px;height:228px;"/>
{% endfor %}

{% for video in dog.videos %}
    <iframe width="560" height="315" src="{{video.video}}" frameborder="0" allowfullscreen></iframe>
{% endfor %}
{% for title in dog.dogTitles %}
{{title.titles}}
{{title.description}}
{% endfor %}
{% for vacc in dog.dogVaccinations %}
{{vacc.vaccinations}}
{% endfor %}

<h1>{{'total.yourquestion'|trans}}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value={{'total.save'|trans}} />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('dogs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dogs_edit', { 'id': dog.idDogs }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
