{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/jcarousel.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class='container'>
        <div class='dogs-show-container'>
            <div class="dogs_photos">
                <div class='dogs-photo-container'>
                    <a class='colorbox group1' href='{{photo_path}}{{dog.photo}}'><img class='dogs-photo' src="{{photo_path}}{{dog.photo}}" ></a>
                </div>
               
                <div class="dogs-other-photos-container">
                    <div class="dogs-other-photos-wrapper">
                        <div class="dogs-photo-jcarousel" data-jcarousel="true">
                            <ul style="left: 0px; top: 0px;">
                                {% for photo in dog.dogsPhotos %}
                                    <li><a class='colorbox group1' href='{{photo_path}}{{photo.photo}}'><img src="{{photo_path}}{{photo.photo}}"/></a></li>
                                    {% endfor %}
                            </ul>
                        </div>
                        <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
                        <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                    </div>
                </div>

            </div>
            <div class='dogs-about-container'>
                <div class='sex-img'>
                    <img src='{{ asset('bundles/app/img/sex/'~dog.sex~'.png') }}'>
                </div>
                <div class='dog-name'>
                    {{ get_translated(dog, 'name') }}
                </div>
                <div class='dogs-description'>
                    {{ get_translated(dog, 'description') }}
                </div>
                <div>
                    {{"dogs.about.dogage"|trans}}
                    {% set age = calculate_age(dog.bdate) %}
                    {% transchoice age.y with {'%month%': age.m, '%year%': age.y} %}
                    dogs.about.age
                    {% endtranschoice %}
                </div>
                <div>
                    {{"dogs.about.birthday"|trans}}
                    {{ dog.bdate |date('d.m.Y') }}
                </div>

                <div>
                    {% if dog.dogTitles | length %}
                        {{"dogs.about.titles"|trans}}

                        {% for title in dog.dogTitles %}
                            <div>{{title.titles}}</div>
                        {% endfor %}
                    {% endif%}
                </div>
                <div>
                    {% if dog.dogVaccinations | length %}
                        {{"dogs.about.vaccinations"|trans}}
                        {% for vacc in dog.dogVaccinations %}
                            <div>{{vacc.vaccinations}}</div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    {#{% for video in dog.videos %}
        <iframe width="560" height="315" src="{{video.video}}" frameborder="0" allowfullscreen></iframe>
        {% endfor %}#}






    {#<h1>{{'total.yourquestion'|trans}}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value={{'total.save'|trans}} />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('dogs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dogs_edit', { 'id': dog.idDogs }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset("bundles/app/js/jquery.jcarousel.min.js")}}"></script>
    <script type="text/javascript">
        $(function () {
            $('.dogs-photo-jcarousel').jcarousel({
                wrap: 'circular'
            });

            $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

            $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });
        });
    </script>
{% endblock %}
