{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/jcarousel.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="home-dogs">
        <div class="container">
            <div class="home-dogs-left-block">
                <div class="home-dogs-left-block-take">{{"main.dogs.take"|trans}}</div>
                <div class="home-dogs-left-block-for-u">{{"main.dogs.for_you"|trans}}</div>
                <div class="home-dogs-left-block-tailed">{{"main.dogs.tailed"|trans}}</div>
                <div class="home-dogs-left-block-zabava">{{"main.dogs.zabava"|trans}}</div>
            </div>
            <div class="home-dogs-right-block">
                <div class="jcarousel-wrapper">
                    <div class="jcarousel" data-jcarousel="true">
                        <ul style="left: 0px; top: 0px;">
                            {% for dog in dogs %}
                                <li><img src="{{photo_path}}{{dog.photo}}"/></li>
                                {% endfor %}
                        </ul>
                    </div>
                    <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
                    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-about-breed">
        <div class="container">
            <h3>{{'main.block.about_breed'|trans}}</h3>
            <div class="home-about-breed-description">{{"main.about_breed.description"|trans}}</div>
            <div class="home-about-breed-image">
                <img src="{{ asset('bundles/app/img/about_breed_img.png') }}"/>
            </div>
        </div>
    </div>
    {% if news|length %}
        <div class="home-news">
            <div class="container">
                <h3>{{'main.block.news'|trans}}</h3>
                {% for news in news %}
                    <div class="home-news-item">
                        <div class="home-news-item-image">
                            <img src="{{photo_path}}{{news.photo}}"/>
                        </div>
                        <div class="home-news-item-text">
                            <div class="home-news-item-title">
                                 <a class='decorated-href' href='{{path('news_show', {'idNews': news.idNews})}}'>{{ get_translated(news, 'title') }}</a>
                            </div>
                            <div class="home-news-item-description">
                                {{ get_translated(news, 'newsdesc') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if partners|length %}
        <div class="home-partners">
            <div class="container">
                <h3>{{'main.block.partners'|trans}}</h3>
                {% for partner in partners %}
                    <a href="{{partner.site}}"><img src="{{photo_path}}{{ partner.photo }}"/></a>
                    {% endfor %}
            </div>
        </div>
    {% endif%}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset("bundles/app/js/jquery.jcarousel.min.js")}}"></script>
    <script type="text/javascript">
        $(function () {
            $('.jcarousel').jcarousel({
                wrap: 'circular'
            });

            $('.jcarousel-control-prev')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '-=1'
            });

        $('.jcarousel-control-next')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '+=1'
            });

        });
    </script>
{% endblock %}
