{% extends 'base.html.twig' %}

{% block body %}
    {% if news|length %}
        <div class="home-news">
            <div class="container">
                <h3>{{'main.block.news'|trans}}</h3>
                {% for news in news %}
                    <div class="home-news-item">
                        <img src="{{photo_path}}{{news.photo}}"/>
                        <div class="home-news-item-title">
                            {% if loc=='en' %}
                                {{ news.titleEn }}
                            {% else %}
                                {{ news.title }}
                            {% endif %}
                        </div>
                        <div class="home-news-item-description">
                            {% if loc=='en' %}
                                {{ news.newsdescEn }}
                            {% else %}
                                {{ news.newsdesc }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul>
            <li>
                <a href="{{ path('news_new') }}">Create a new news</a>
            </li>
        </ul>
    {% endif %}

    {% if partners|length %}
        <div class="home-partners">
            <div class="container">
                <h3>{{'main.block.partners'|trans}}</h3>
                {% for partner in partners %}
                    <a href="{{partner.site}}"><img src="{{photo_path}}{{ partner.photo }}"/></a>
                    {% endfor %}
            </div>
        </div>
    {% endif%}
{% endblock %}
