<div class="edit-head">
    <h3>{{'total.edit'|trans}}</h3>
</div>
<div class="edit-content">


    {{ form_start(edit_form, {'action':path('titles_edit',{'idTitles':app.request.get('idTitles')})}) }}
    {{ form_row(edit_form.title, {'attr': {'class': 'parent-width'} })}}
    {{ form_row(edit_form.titleEng, {'attr': {'class': 'parent-width'} })}}
    <input class="orange-button" type="submit" value={{'total.edit'|trans}} />
    {{ form_end(edit_form) }}


</div>