{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'titles.list.title'|trans}}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value={{'total.create'|trans}} />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('titles_index') }}">{{'total.back'|trans}}</a>
        </li>
    </ul>
{% endblock %}
