{% extends 'base.html.twig' %}

{% block body %}
    <h1>Title</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ title.title }}</td>
            </tr>
            <tr>
                <th>Idtitles</th>
                <td>{{ title.idTitles }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('titles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('titles_edit', { 'idTitles': title.idTitles }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
