{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="button-container left col-4">
                <a class="grey-button" href="{{ path('homepage') }}">{{'total.back'|trans}}</a>
            </div>
            <div class="button-container col-8">
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <input class="grey-button" type="submit" value="{{"total.delete"|trans}}">
                    {{ form_end(delete_form) }}
                {% endif %}
                <input class="orange-button" onclick="$('#main-form').submit();" type="submit" value="{{'total.save'|trans}}"/>
            </div>
        </div>
        {{ form_start(form, {'attr': {'id': 'main-form'} }) }}

        <div class="tabs">
            <ul>
                <li><a href="#tab-main-info">{{'total.main_info'|trans}}</a></li>
                <li><a href="#tab-dogs">{{form.dogs.vars.label|trans}}</a></li>
            </ul>
            <div class="row" id="tab-main-info">
                <div class="main-info col-6">
                    {{ form_row(form.ldate)}}
                    {{ form_row(form.mother)}}
                    {{ form_row(form.father)}}

                </div>
            </div>
            <div class="embedded-form dogs" id="tab-dogs">
                <ul class="form-collection-container" data-count="{{ form.dogs|length }}" id="titles-fields-list"
                    data-prototype="{{ form_widget(form.dogs.vars.prototype)|e }}">
                    {% for dog in form.dogs %}
                        <li>
                            {{ form_row(dog.name) }}
                            {{ form_row(dog.nameEn) }}
                            {{ form_row(dog.description) }}
                            {{ form_row(dog.descriptionEn) }}
                            {{ form_row(dog.sex) }}
                            {{ form_row(dog.photoFile) }}
                        </li>
                    {% endfor %}
                </ul>
                <div class="add-button-container">
                    <a href="#" class="add-new-element">{{"total.add_dog"|trans}}</a>
                </div>
            </div>
            {% do form.dogs.setRendered %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.embedded-form .add-new-element').on('click', function (e) {
                e.preventDefault();

                var list = $(this).parents('.embedded-form').find('.form-collection-container');

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                var count = list.data('count');
                newWidget = newWidget.replace(/__name__/g, count);
                count++;
                list.data('count', count);

                // create a new list element and add it to the list
                var newLi = $('<li></li>').html(newWidget);
                newLi.appendTo(list);
                addDeleteLink(newLi);
            });

            // add a delete link to all of the existing tag form li elements
            $('.form-collection-container').find('li').each(function () {
                addDeleteLink($(this));
            });

            function addDeleteLink($formLi) {
                var $removeLi = $('<a class="delete-icon" title="{{"total.delete"|trans}}" href="#"></a>');
                $formLi.append($removeLi);

                $removeLi.on('click', function (e) {
                    e.preventDefault();
                    $formLi.remove();
                });
            }
        });
    </script>
{% endblock %}