{% extends 'base.html.twig' %}

{% block body %}
    <h1>Litter</h1>

    <table>
        <tbody>
            <tr>
                <th>Ldate</th>
                <td>{% if litter.ldate %}{{ litter.ldate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Mother</th>
                <td><a href="{{ path('dogs_show', { 'id': litter.mother.idDogs }) }}">{{ litter.mother.name }}</a></td>
            </tr>
            <tr>
                <th>Father</th>
                <td><a href="{{ path('dogs_show', { 'id': litter.father.idDogs }) }}">{{ litter.father.name }}</a></td>
            </tr>
        </tbody>
    </table>
{% for child in litter.dogs %}
     <a href="{{ path('dogs_show', { 'id': child.idDogs }) }}">{{ child.name }}</a>
{% endfor %}
    <ul>
        <li>
            <a href="{{ path('litters_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('litters_edit', { 'idLitters': litter.idLitters }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
