<div class="ask-question">
    <h3>{{'total.askquestion'|trans}}</h3>
</div>
<div class="dogs-add-question">
    {{ form_start(form , {'action':path('services_comment',{'idServices':app.request.get('idServices')})}) }}
    <div>
        {{ form_widget(form.klname, {'attr': {'placeholder': 'reviews.label.name'|trans} })}}
        {{ form_widget(form.email, {'attr': {'placeholder': 'reviews.label.email'|trans} })}}
        {{ form_widget(form.phone, {'attr': {'placeholder': 'reviews.label.phone'|trans} })}}
    </div>
    <div class="question-form">
        {{ form_widget(form.question, {'attr': {'placeholder': 'reviews.label.comment'|trans, 'rows': 5} }) }}
    </div>
    <input class="orange-button" type="submit" value={{'total.send'|trans}} />
    {{ form_end(form) }}
</div>