{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'services.list.services'|trans}}</h1>

    <table>
        <thead>
            <tr>
                <th>{{'services.list.services'|trans}}</th>
                <th>{{'services.list.price'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                {% if loc!='en' %}
                <td>{{ service.services }}</td>
                {% else %}
                <td>{{service.servicesEng}}</td>
                {%endif%}
                <td>{{ service.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('services_show', { 'idServices': service.idServices }) }}">{{'total.show'|trans}}</a>
                        </li>
                         {#  {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                        <li>
                            <a href="{{ path('services_edit', { 'idServices': service.idServices }) }}">{{'total.edit'|trans}}</a>
                        </li>
                           {# {% endif %}#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                         {#  {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}

    <ul>
        <li>
            <a href="{{ path('services_new') }}">{{'total.create'|trans}}</a>
        </li>
    </ul>
             {# {% endif %}#}
{% endblock %}
