{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dogvaccinations list</h1>

    <table>
        <thead>
            <tr>
                <th>Iddogvac</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dogVaccination in dogVaccinations %}
            <tr>
                <td><a href="{{ path('dogvaccinations_show', { 'idDogVac': dogVaccination.idDogVac }) }}">{{ dogVaccination.idDogVac }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dogvaccinations_show', { 'idDogVac': dogVaccination.idDogVac }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dogvaccinations_edit', { 'idDogVac': dogVaccination.idDogVac }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dogvaccinations_new') }}">Create a new dogVaccination</a>
        </li>
    </ul>
{% endblock %}
