{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'total.partners'|trans}}</h1>

    <table>
        <thead>
            <tr>
                <th>{{'nursery.list.name'|trans}}</th>
                <th>{{'nursery.list.photo'|trans}}</th>
                <th>{{'nursery.list.owner'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for nursery in nurseries %}
            <tr>
                 {% if loc!='en' %}
                <td>{{ nursery.nameNur }}</td>
                {% else %}
                <td>{{nursery.nameNurEn}}</td>
                {%endif%}
                <td><img src="{{photo_path}}{{nursery.photo}}" 
                         style="width:304px;height:228px;"></td>
               {% if loc!='en' %}
                <td>{{ nursery.owner }}</td>
                {% else %}
                <td>{{nursery.ownerEn}}</td>
                {%endif%}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nursery_editPar', { 'idNursery': nursery.idNursery }) }}">{{'total.edit'|trans}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nursery_new') }}">{{'total.create'|trans}}</a>
        </li>
    </ul>
{% endblock %}
