{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>
        <div class='partner-container'>
            <div class="button-container">
                <a class="orange-button" href="{{ path('nursery_new') }}">{{'total.create'|trans}}</a>
            </div>
            {% for nursery in nurseries %}
                <div class='partner-item'>
                    <div class='partner-img'>
                        <img src="{{photo_path}}{{nursery.photo}}" 
                             style="width:304px;height:228px;">
                    </div>
                    <div class='partner-info'>
                        <div>
                            {{'nursery.list.name'|trans}}
                            {{ get_translated(nursery, 'nameNur') }}
                        </div>
                        <div>
                            {{'nursery.list.owner'|trans}}
                            {{ get_translated(nursery, 'owner') }}
                        </div>                 
                        
                        <a class="orange-button" href="{{ path('nursery_editPar', { 'idNursery': nursery.idNursery }) }}">{{'total.edit'|trans}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>  
{% endblock %}
