{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="reviews-about-nursery">
            <h3>{{'nursery.list.about'|trans}}</h3>
            <div class="nursery-container">
                <div class="nursery-photo">
                    <img src="{{photo_path}}{{nursery.photo}}"/>
                </div>
                <div class="nursery-description">
                    <p>{{'reviews.nursery.conact_us_via'|trans}}</p>
                    <p>{{'reviews.nursery.conact_us_via_phones'|trans}}</p>
                    <p class="important-info">{{ nursery.phone }}</p>
                    <p class="important-info">{{ nursery.cellphone }}</p>
                    <p>{{'reviews.nursery.conact_us_via_email'|trans}}</p>
                    <p class="important-info">{{ nursery.email }}</p>
                    <p>{{ get_translated(nursery, 'adress') }}</p>
                    <p class="very-important-info">{{ get_translated(nursery, 'owner') }}</p>
                </div>
            </div>
            <div style="clear: left"></div>
        </div>
        <div class="reviews-comments-list">
            {% for comments in comments %}
                <div class="reviews-comment-item">
                    <div class="date">{{ comments.cdate|date("m.d.Y")}}</div>
                    <div class="title">{{"reviews.text.comment_author"|trans({"%name%": comments.klname})|raw}}</div>
                    <div class="text">{{comments.question}}</div>
                </div>
            {% endfor %}
        </div>
        <div class="reviews-add-comment">
            <div class="review-form">
                {{ form_start(form) }}
                <div>
                    {{ form_widget(form.klname, {'attr': {'placeholder': 'reviews.label.name'|trans} })}}
                    {{ form_widget(form.email, {'attr': {'placeholder': 'reviews.label.email'|trans} })}}
                </div>
                <div>
                    {{ form_widget(form.question, {'attr': {'placeholder': 'reviews.label.comment'|trans, 'rows': 5} }) }}
                </div>
                <input class="submit-button" type="submit" value={{'total.send'|trans}} />
                {{ form_end(form) }}
            </div>
            <div class="review-disclaimer">
                <h4>{{'reviews.text.pay_attention'|trans}}</h4>
                <p>{{'reviews.text.comment_disclaimer'|trans|raw}}</p>
            </div>
        </div>
        <div style="clear: left"></div>
    </div>
{% endblock %}
