{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="reviews-about-nursery">
            <h3>{{'nursery.list.about'|trans}}</h3>
            <div class="nursery-container">
                <img src="{{photo_path}}{{nursery.photo}}"/>
                {#<div>
                    <strong>{{'reviews.nursery.name'|trans}}</strong>
                    {{ get_translated(nursery, 'nameNur') }}
                </div>
                <div>
                    <strong>{{'reviews.nursery.bdate'|trans}}</strong>
                    {% if nursery.bdate %}{{ nursery.bdate|date('Y-m-d') }}{% endif %}
                </div>
                <div>
                    <strong>{{'reviews.nursery.owner'|trans}}</strong>
                    {{ get_translated(nursery, 'owner') }}
                </div>
                <div>
                    <strong>{{'reviews.nursery.adress'|trans}}</strong>
                    {{ get_translated(nursery, 'adress') }}
                </div>
                <div>
                    <strong>{{'reviews.nursery.phones'|trans}}</strong>
                    {{ nursery.phone }}
                    {{ nursery.cellphone }}
                </div>
                <div>
                    <strong>{{'reviews.nursery.email'|trans}}</strong>
                    {{ nursery.email }}
                </div>
                <div>#}
                {#                    {{ get_translated(nursery, 'about') }}#}
                {#                    dgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddddgdfgdkjfgdlkfgjhdlfkgjhdflkjghdlkjghdflkj rliugth reliutah leruh ldfkgjh lfkjghlfkj zhdkjhrg;kuh ldkjvgbzldfkjg balrgiuaerhliaurh aiurhliudfhkdjf alrk ghaldfjbh ldfkjgdfh,gkh drhltiuert hleiurtheriu eriutg heruighdlugh dlug hdlri ugherluh lrugh lsuhglsiudhglsuhglusdh suirgh sldughl dsghlsiu hdgliusd hliduhg lidu hlidug hdliuhlsfghsliughsldiurghldiuhglsudhglsiughsl sdlgushglsduigh lsiduf hsiurh lsrdg uhldu hlusihg lsiuh guirghlsduhg lsidu ghlsiudghldiughlsd jghaleriuthelrut herliuterhtl uiiudfh dfgjhdrugreiug df,j vga lruha elr iut hkj dddddd #}

                {#                </div>#}
                {#            </div>#}
            </div>
        </div>
        <div class="reviews-comments-list">
            {% for comments in comments %}
                <div class="reviews-comment-item">
                    <div class="date">{{ comments.cdate|date("m.d.Y")}}</div>
                    <div class="title">{{"reviews.text.comment_author"|trans({"%name%": comments.klname})|raw}}</div>
                    <div class="text">{{comments.question}}</div>
                </div>
            {% endfor %}
        </div>
        <div class="reviews-add-comment">
            <div class="review-form">
                {{ form_start(form) }}
                <div>
                    {{ form_widget(form.klname, {'attr': {'placeholder': 'reviews.label.name'|trans} })}}
                    {{ form_widget(form.email, {'attr': {'placeholder': 'reviews.label.email'|trans} })}}
                </div>
                <div>
                    {{ form_widget(form.question, {'attr': {'placeholder': 'reviews.label.comment'|trans, 'rows': 5} }) }}
                </div>
                <input class="submit-button" type="submit" value={{'total.send'|trans}} />
                {{ form_end(form) }}
            </div>
            <div class="review-disclaimer">
                <h4>{{'reviews.text.pay_attention'|trans}}</h4>
                <p>{{'reviews.text.comment_disclaimer'|trans|raw}}</p>
            </div>
        </div>
            <div style="clear: left"></div>
    </div>
{% endblock %}
